<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unica.ium.pizzalove">
<!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pizza and Love"
        android:largeHeap="true"
        android:supportsRtl="true"

android:theme="@style/prova"
        >
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ElencoPizze"
            android:parentActivityName="it.unica.ium.pizzalove.Scelta"
            ><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.unica.ium.pizzalove.Main" /></activity>
        <activity android:name=".CreaPizza"
            android:parentActivityName="it.unica.ium.pizzalove.ElencoPizze">
<meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.unica.ium.pizzalove.ElencoPizze" />
            </activity>
        <activity android:name=".Scelta" ><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.unica.ium.pizzalove.ElencoPizze" /></activity>
        <activity android:name=".Carrello" ><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.unica.ium.pizzalove.ElencoPizze" /></activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        --><!--android:name="com.google.android.geo.AIzaSyDKW-5HgXo-ZHCVKpNeXdWWd72nWKw4yYY" -->
        <meta-data


            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
